@source "../../../content/**/*";
@import '@/assets/theme.css';
@import "tailwindcss";
@import "@nuxt/ui";

body {
    font-family: 'Alimama DongFangDaKai', sans-serif;
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
