/* 主题配色 */
@theme {
    --color-fei-hong: #f2cac9;
    --color-wu-hua-guo-hong: #efafad;
    --color-chen-xi-hong: #ea8958;
    --color-gui-hong: #f25a47;
    --color-qiu-hai-tang-hong: #ec2b24;
    --color-mie-huang:  #f7de98;
    --color-lao-huang:  #f6dead;
    --color-dan-ke-huang:  #f8c387;
    --color-hao-huang: #dfc243;
    --color-yuo-cai-hua-huang: #fbda41;
    --color-mai-miao-lv: #55bb8a;
    --color-zhu-lv: #1ba784;
    --color-qing-fan-lv: #2c9678;
    --color-lan-lv: #12a182;
    --color-hai-wang-lv: #248067;
    --color-yun-shan-lan: #2f90b9;
    --color-yuan-wei-lan: #158bb8;
    --color-jing-tai-lan: #2775b6;
    --color-tang-ci-lan: #11659a;
    --color-yan-lan: #144a74;
    --color-ye-ju-zi: #525288;
    --color-zi-zi: #894276;
    --color-dou-kou-zi: #ad6598;
    --color-qing-hui: #2b333e;
    --color-song-yan-mo: #3B3A3E;
    --color-yue-wei-hui: #5e616d;
    --color-yin-yue-bai: #cdd1d3;
    --color-yue-bai: #eef7f2;
    --color-xie-bai: #fffef9;
    --color-mo-hei: #0F1A20;
    --color-xuan-se: #1A1A1A;
}

/* Light theme */
[data-theme="light"] {
  --bg-color: #fff;
  --text-color: #000;
}

/* Dark theme */
[data-theme="dark"] {
  --bg-color: #000;
  --text-color: #fff;
}
